body {
    font-family: 'Libre Franklin', sans-serif;
}
h2 {
    font-weight: 500;
    line-height: 1.2em;
}
h3 {
    font-weight: 500;
}
h1 {
    text-align: center;
}
#learnMore {
    text-decoration: none;
    width:fit-content;
    border: none;
    background-color: transparent;
    text-align: left;
    font-size: medium;
    color: rgb(126, 126, 126);
    cursor: pointer;
    font-style: italic;
}
#learnMore:hover {
    color:rgb(97, 23, 167)
}
main {
    display: flex;
    justify-content: center;
}
#bookCatalog {
    display: flex;
    flex-wrap: wrap;
    width: 200%;
    max-width: 840px;
    justify-content: center;
}
.bookCard {
    background: linear-gradient(rgb(247, 247, 223), white);
    display: flex;
    gap: 15px;
    width: 400px;
    margin: 10px;
}
.bookCard div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bookCard img {
    width: 180px;
    align-self: flex-start;
}
.bookCard h2 {
    /* height: 100px; */
    font-size: 16px;
}
.bookCard p {
    font-size: 13px;
}
#yourOrder {
    width: 100%;
    margin: 0px;
    max-width: 550px;
}
#orderH2 {
    text-align: center;
}
#orderContainer {
    margin: 0px;
    height: fit-content;
    min-height: 140px;
}
#orderContainer img {
    height: 100px;
}
.hovered {
    background-color: antiquewhite;
}
.normal {
    background-color: transparent;
}
hr {
    color:black;
    width: 100%;
}
.orderBookCard {
    font-size: x-small;
    margin: 0px;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    min-width: 160px;
}
.orderBookCard div {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 160px;
    width: 100%;
    margin: 5px 10px;
}
#orderContainer p, h2, h3 {
    margin: 0px;
}
#orderContainer #sum {
    margin: 10px;
}
#sum pre {
    text-align: right;
    margin-right: 8%;
    font-weight: 600;
    font-size: larger;
}
.showMore {
    background-color: transparent;
    border: none;
}
.addToCart {
    display: block;
    border: none;
    background-color: rgb(231, 233, 230);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: -55px;
    margin-right: 50px;
    margin-left: auto;
    cursor: pointer;   
}
.addToCart:hover {
    background-color: rgb(166, 248, 134);
}
.addToCart span {
    padding-top: 4px;
}
.deleteButton {
    border: none;
    height:fit-content;
    background-color: transparent;
    color: rgb(170, 11, 11);
}
.bookDescription {
    background-color: rgb(232, 255, 205);
    width: 300px;
    padding: 10px;
    box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 28%);
}
.bookDescription h3 {
    text-align: center;
}
.bookDescription button {
    margin-left: 80%;
    align-self: flex-end;
}