body {
    font-family: 'Libre Franklin', sans-serif;
    background: rgb(253, 246, 246);
}
h2 {
    font-weight: 500;
    line-height: 1.2em;
}
h3 {
    font-weight: 500;
}
h1 {
    text-align: center;
}
#learnMore {
    text-decoration: none;
    width:fit-content;
    border: none;
    background-color: transparent;
    text-align: left;
    font-size: medium;
    color: rgb(126, 126, 126);
    cursor: pointer;
    font-style: italic;
}
#learnMore:hover {
    color:rgb(97, 23, 167)
}
main {
    display: flex;
    justify-content: center;
}
#bookCatalog {
    display: flex;
    flex-wrap: wrap;
    width: 200%;
    max-width: 840px;
    justify-content: center;
}
.bookCard {
    background-color: rgba(255, 255, 255, 0.719);
    display: flex;
    gap: 15px;
    width: 400px;
    margin: 10px;
    box-shadow: 0 1px 2px #0000004d;
    border-radius: 5px;
}
.bookCard > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px 0px 0px;
}
.bookCard > div > div {
    padding: 0px 0px 20px 0px;
    display: flex;
    gap: 70px;
    align-items: center;
}
.bookCard img {
    width: 180px;
    align-self: center;
    padding: 15px;
    padding-right: 0px;
}
.bookCard h2 {
    font-size: 16px;
}
.bookCard p {
    font-size: 13px;
    margin: 0px
}
#yourOrder {
    width: 100%;
    margin: 0px;
    max-width: 550px;
}
#yourOrder >h2 {
    text-align: center;
}
#orderContainer {
    margin: 0px;
    height: fit-content;
    min-height: 140px;
}
#orderContainer img {
    height: 100px;
}
.hovered {
    background-color: antiquewhite;
}
.normal {
    background-color: transparent;
}
hr {
    color:black;
    width: 100%;
}
.orderBookCard {
    font-size: x-small;
    margin: 0px;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    min-width: 160px;
}
.orderBookCard div {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 160px;
    width: 100%;
    margin: 5px 10px;
}
#orderContainer p, h2, h3 {
    margin: 0px;
}
#orderContainer #sum {
    margin: 10px;
}
#sum pre {
    text-align: right;
    margin-right: 8%;
    font-weight: 600;
    font-size: larger;
}
.showMore {
    background-color: transparent;
    border: none;
}
.addToCart {
    display: block;
    border: none;
    background-color: rgb(231, 233, 230);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;   
}
.addToCart:hover {
    background-color: rgb(166, 248, 134);
}
.addToCart span {
    padding-top: 4px;
}
.deleteButton {
    border: none;
    height:fit-content;
    background-color: transparent;
    color: rgb(170, 11, 11);
}
.deleteButton:hover {
    color: rgb(219, 17, 17);
}
.hidden {
    display: none;
}
.confirmOrderBtn {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 10px 15px;
    letter-spacing: 0.12em;
    display: block; 
    background-color: rgb(177, 252, 147);
    border: none;
    box-shadow: 0 1px 2px #0000004d;
    border-radius: 15px;
}
.confirmOrderBtn:hover {
    background-color: rgb(166, 248, 134);
}
.bookDescription {
    background-color: rgb(226, 222, 225);
    width: 300px;
    padding: 20px;
    box-shadow: 0 1px 2px #0000004d;
    border-radius: 4px;
}
.bookDescription h3 {
    text-align: center;
}
.bookDescription button {
    margin-left: 80%;
    align-self: flex-end;
}
input{
    display: block;
    margin: 0px 10px;
    padding: 2px 3px;
    border-radius: 4px;
}
.required input {
    justify-self: baseline;
    width: 150px;
}
label {
    display: flex;
}
.payment {
    display: flex;
}
.paymentSpace, .giftSpace {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#order {
    display:block;
    width: 40%;
    margin-left: auto;
    margin-right: auto; 
}
form {
    background-color: rgb(244, 247, 242);
    width: fit-content;
    padding: 20px 30px;;
    margin: auto;
    box-shadow: 0 1px 2px #0000004d;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    row-gap: 10px;
}
form p {
    width: 100%;
    text-align: right;
    margin: 0px;
}
label {
    display: flex;
    align-items: center;
}
.required {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: baseline;
    justify-items: end;
    grid-column: 1 / -1;
}
.validation:invalid {
    background-color: rgb(250, 228, 219);
}
.complete {
    grid-column: 1 / -1;
}
.complete:disabled {
    background-color: rgba(187, 187, 187, 0.582);
    box-shadow: 0 1px 2px #0000004d;
}
.complete:hover {
    box-shadow: 0 1px 2px #0000004d;
}
#orderInfo {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: fit-content;
    padding: 20px 30px;
    background-color: aliceblue;
    filter: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 2px #0000004d;
}
pre {
    margin: 0px;
    font-size: large;
}
.blurred {
    background-color: rgba(142, 127, 150, 0.397);
    filter: blur(2px);
}
.homeBtn {
    margin-top: 25px;
}